@using DataAccessLayer.Models
@model PresentationLayer.Views.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<h1>CitizensList</h1>
<table class="table">
    <tr><th>ID</th><th>Name</th><th>Age</th></tr>
    @foreach (CitizenModel u in Model.Citizens)
    {
        <tr><td>@u.Id</td><td>@u.Name</td><td>@u.Age</td></tr>
    }
</table>